:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

body {
    background: var(--Light-blue);
    margin: 0%;
    padding: 0%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

/* first-form-section  */
.section {
    display: flex;
    max-width: 100%;
    padding: 13px;
    background-color: var(--White);
    border-radius: 13px;
    position: relative;
}

/* left section */
.left {
    position: relative;
}

.left img {
    width: 100%;

}

.steps {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}



.slot p {
    margin: 4px 0;

}

.num {
    padding: 10px 15px;
    border: 2px solid var(--Light-gray);
    color: var(--White);
    border-radius: 100%;
}

.num:hover {
    background-color: var(--Light-blue);
    color: black;
}

.menu {
    position: absolute;
    top: 0%;
}

.step-color {
    color: var(--Cool-gray);
    font-size: 13px;
}

.slot {
    color: var(--White);
}

/* right section */
.right {
    padding: 0 3rem;

    display: none;
    flex-direction: column;
    gap: 2rem;

}

.right h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 9px;
    color: var(--Marine-blue);
}

.right p {
    font-weight: bolder;
    margin-bottom: 4px;
    color: var(--Marine-blue);
}

.right span {

    color: var(--Cool-gray);


}

.input-box {
    display: flex;
    flex-direction: column;

    /* margin: 2rem 0; */
}

.input-box input {
    height: 2.5rem;
    border-radius: 10px;
    padding-left: 14px;
    border: 1px solid var(--Cool-gray);
    outline: none;
    width: 27rem;
}

.next-btn {
    position: absolute;
    bottom: 30px;
    right: 60px;
    width: 27rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.btn {

    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    color: var(--White);
    background: var(--Marine-blue);
    border: none;

}

.go-back-btn {
    font-size: 18px;
    border: none;
    color: var(--Cool-gray);
    background: none;
    opacity: 0;
}

/* mobile interface section */

.mobile-img {
    display: none;
}






/* second-form-section */
/* u */

#form-1 {
    display: block;
}




.plan-box {
    display: flex;
    gap: 2rem;


}

.sub-plan-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--Cool-gray);
    width: 7rem;
    height: 10rem;
    padding: 10px;
    border-radius: 13px;

}

.sub-plan-box img {
    width: 50%;
}

.sub-plan-box h1 {
    font-size: 19px;
}

/* third-form-section */

.box {
    display: flex;
    border: 1px solid var(--Cool-gray);
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 26rem;
    border-radius: 10px;
}

.checkbox {
    display: flex;
    align-items: center;

    gap: 1rem;

}

input[type=checkbox] {
    transform: scale(1.3)
}

.checkbox p {
    margin-top: 0;
}

.box .price {
    color: var(--Purplish-blue);
}

/* form-4 */
.content {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    width: 24rem;
    gap: 1rem;
    background-color: var(--Light-blue);
    padding: 1rem;
}

.content p {
    margin: 0;


}

#selected-plan-box {

    border-bottom: 1px solid var(--Cool-gray);

}

.items-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* activation section */
.active {
    background-color: var(--Light-blue);
    color: black;
}

.comform-mes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    align-items: center;
    width: 27rem;
    height: 100%;

}

#form-5 p {
    color: var(--Cool-gray);
    text-align: center;
}

/* last form */
.total-amount {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    font-size: 33px;
}

.free-months {
    margin-top: 0;
}

/* responsice section */
@media(max-width:790px) {


    .section {
        position: absolute;
        top: 15%;
        width: 80%;
    }



    .mobile-img {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .desktop-img {
        display: none;
    }

    .right {
        padding: 1rem 1rem;
        width: 98%;
    }

    .right h1 {
        margin: 0;
    }

    .menu {
        display: flex;
        flex-direction: row;
        margin: 0%;
        gap: 1rem;
        position: fixed;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
    }

    .slot {
        display: none;
    }

    .steps {
        margin: 0;
    }

    .input-box input {
        width: 100%;
    }

    .btn {
        margin-right: 24px;
    }

    .go-back-btn {
        margin-left: 24px;
    }

    .next-btn {
        position: fixed;
        background-color: var(--White);
        width: 100%;
        left: 0%;
        bottom: 0;
        height: 5rem;

    }

    /* second-form section */
    .plan-box {
        flex-direction: column;
    }

    .plan-box .sub-plan-box {
        flex-direction: row;
        height: 3rem;
        width: 95%;
        justify-content: left;
        align-items: center;
        gap: 1rem;
    }

    .plan-box .sub-plan-box img {
        width: 100%;
    }

    #form-2 .switch-box {
        width: 96%;
    }

    /* third-form section */
    #form-3 .box {
        width: 96%;
        padding: .5rem;
    }

    .box .checkbox span {
        font-size: 13px;
    }

    .box .checkbox {
        gap: .5rem;
    }

    .comform-mes {
        width: 100%;
    }

    .content {
        width: 93%;
    }

}

/* on-off button */
.switch-box {
    width: 29rem;
    background-color: var(--Light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
    height: 44px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 29px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Marine-blue);


}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;

    transition: .7s;
}

input:checked+.slider {
    background-color: var(--Marine-blue);
}



input:checked+.slider:before {

    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}